@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400i);

@font-face {
	font-family: Didot;
	font-weight: normal;
	src: url("http://res.cloudinary.com/myntra-com/raw/upload/v1471611982/fonts/didot/Didot.ttf") format("truetype");
}

@font-face {
	font-family: Gohtam;
	font-weight: bold;
	src: url("http://res.cloudinary.com/myntra-com/raw/upload/v1471606844/fonts/gotham/Gotham-Bold.otf") format("opentype");
}

@font-face {
	font-family: Gohtam;
	font-weight: normal;
	src: url("http://res.cloudinary.com/myntra-com/raw/upload/v1471606844/fonts/gotham/Gotham-Medium.otf") format("opentype");
}

@font-face {
	font-family: Gohtam;
	font-weight: lighter;
	src: url("http://res.cloudinary.com/myntra-com/raw/upload/v1471606844/fonts/gotham/Gotham-Light.otf") format("opentype");
}

@font-face {
	font-family: Whitney;
	font-weight: normal;
	src: url("http://res.cloudinary.com/myntra-com/raw/upload/v1471609975/fonts/gotham/WHITNEY-BOOK.OTF") format("opentype");
}



html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Gohtam, sans-serif;
	font-weight: normal;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}